*.pyc
*.so
__pycache__
.python-version
.pytest_cache
MANIFEST
build/
dist/
profile
/.idea/
/tmp/

src/stochastic_arrow/arrowhead.c
src/stochastic_arrow/arrowhead.*.pyd
src/stochastic_arrow/*.html

arrow.egg-info/
stochastic_arrow.egg-info/

*.png
